.Navabar{
    font-family: Okra, Helvetica, sans-serif;

}
.nav-item{
 font-size: 20px;
 margin-top: 30px;
    
}
.navbar-nav{
   
}
.navbar-brand{
    margin-top: 30px;
    
}
.logo{
    
    height: 30px;
    margin-left: 300px;
    margin-top: 30px;

}

.navv{
    height: 60px;
    background-color:white;
    position: fixed;
    top: 0%;
    right: 0;
    left: 0;
    /* bottom: 0px; */
    z-index: 100;
}